
/*Style for whole page*/

*{
  margin: 0;
  padding: 5px;
  background-color: rgb(18, 14, 32);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Header styling*/

.header-container {
  display: flex;
  flex-flow: row wrap;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/49/60/f1/exterior.jpg");
  background-size: contain;
  height:200px;
  width: 100%;
  border: solid 10px white;

}

h1 {
justify-content: center;
align-content: center;
font-size: 60px;
justify-content: space-around;

}

.inpagelink {
  font-size: 25px;
  justify-content: flex-start;
  padding: 40px;
}

h2 {
  text-transform: capitalize;
  font-size: 40px;
  padding: 30px;
  position: relative; top: -1px;
  width: 100%;
  font-weight:bold;
  text-align: center;
}

/*Styling for picture of me on home page*/

.imgofme {
  height: 400px;
  position: relative; top: -60px;
  padding: 25px;
 
}

/*Styling for main paragraph/ middle of page*/

.box {
  display: flex;
  align-items: center;
  padding: 40px;
  border: solid 5px white;
  text-align: center;
}
h3{
  font-size: 25px;
}
p {
  font-size: 23px;
  padding: 50px;
  
}

/* Styling for portfolio page*/

.box2 {
  display: flexbox;
  flex: 1;
  padding: 40px;
  align-items: center;
  border: solid 5px white;
  position: relative; top: -50px;
  text-align: center;
  margin: 30px;
}
.logo {
  height: 200px;
  position: relative; top: -20px;
  padding: 15px;
}


/*Styling for contact form*/
.pageTitle{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
 margin-left: 15px;
 margin-right: auto;
 width: 85%;
 border: solid 5px navy;
 border-radius:10px;
}
.secondaryTitle {
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
text-align: center;
margin-left: auto;
margin-right: auto;
color:white;
padding: 10px;


}
.wrapper {
  border: solid 5px navy;
  border-radius:10px;
  padding: 25px;
  width: 93%;
}

.error {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: solid 5px;
  border-radius: 5px;
  font-weight: bold;
  border: solid 4px navy;
  color: red;
}

div.form
{
    display: block;
    text-align: center;
    width: 100%;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: white;
    padding: 55px;
    border: dashed 7px navy;
    border-radius:20px;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 20px 28px;
  margin:10px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  color: navy;
  border: solid 5px navy;
  border-radius: 5px;
  font-size: 20px;
}

input[type=text]:focus, input[type=email]:focus {
  border: 6px solid #555;
}
textarea {
  width: 93%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  background-color: white;
  color: navy;
  border: solid 5px navy;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  font-size: 20px;
}


input[type=submit] {
  background-color: navy;
  border: none;
  color: white;
  padding: 18px 32px;
  text-decoration: none;
  margin-left: 60px;
  margin-right: auto;
  cursor: pointer;
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-size: 25px;
  border-radius: 15px;
  border: solid 4px white;
  font-weight: bold;

}
input[type=submit]:focus {
background-color: white;
color: navy;
}